<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <title>PyWars</title>

    <link rel="stylesheet" href="{% static 'core/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/buttons.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/players.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/join_game_form.css' %}" />

    {% block static %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{% static 'core/js/easeljs-0.7.0.min.js' %}"></script>
        <script src="{% static 'core/js/soundjs-0.5.0.min.js' %}"></script>
        <script src="{% static 'core/js/preloadjs-0.4.0.min.js' %}"></script>
        <script src="{% static 'core/js/pywars.js' %}"></script>
        <script src="{% static 'core/js/arena.js' %}"></script>
        <script src="{% static 'core/js/fighter.js' %}"></script>
        <script src="{% static 'core/data/test.json.js' %}"></script>
    {% endblock %}
</head>
<body>
    <div class="page-container {% block page_class %}{% endblock %}">
        <header class="page-header">
            <a href="{% url 'core-start-game-page' %}"><h1 class="brand">PyWars</h1></a>
        </header>
        <section class="page-content">
            {% block content %}{% endblock %}
        </section>
        <footer class="page-footer">
            <div class="content-column">
                <div class="about">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="copyright">
                    Webriders Uno &copy Django Dash 2013
                </div>
            </div>
        </footer>
    </div>
</body>
</html>