{% extends 'core/base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_class %}game-page {% if game.is_started and user_role != game.ROLE_OBSERVER %}started{% endif %}{% endblock %}

{% block static %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'core/css/game_page.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/codemirror/codemirror.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/codemirror/themes/ambiance.css' %}" />

    <script src="{% static 'core/js/game.js' %}"></script>
    <script src="{% static 'libs/codemirror/codemirror.js' %}"></script>
    <script>
        $(function() {
            pywars.game.stateUrl = "{% url 'core-game-state-feed' game.pk %}";
            pywars.game.submitCodeUrl = "{% url 'core-submit-code-action' game.pk %}";
            pywars.game.newRoundsUrl = "{% url 'core-new-rounds-feed' game.pk 0 %}";
            pywars.game.player1 = "{{ game.get_player_1 }}";
            pywars.game.player2 = "{{ game.get_player_2 }}";
            pywars.game.userRole = "{{ user_role }}";
            pywars.game.init();
        });
    </script>
{% endblock %}

{% block content %}
    <section id="game-message" class="game-message">
        {% if user_role == game.ROLE_PLAYER_1 %}
            {% include 'core/includes/players.html' with player_1=game.get_player_1 player_2="..." %}
            <p>{% trans "Share link to this game with your oponent" %}</p>
            <div class="join-game-form">
                <div class="username-field">
                    <input type="text" value="http://{{ request.META.HTTP_HOST }}{{ request.path }}" onclick="$(this).select()" />
                </div>
            </div>
        {% elif user_role == game.ROLE_PLAYER_2 %}
            {% include 'core/includes/players.html' with player_1=game.get_player_1 player_2="..." %}
            {% include 'core/includes/join_game_form.html' with form=join_game_form button_title="Join game" %}
        {% else %}
            <p>{% trans "Sorry but game has already started" %}</p>
        {% endif %}
    </section>

    <section id="game-field" class="game-field">
        <form class="game-editor" id="code-form">
            {% csrf_token %}
            <textarea id="code-editor" name="code"></textarea>
            <input class="button" type="submit" value="Fight" />
        </form>
        <div class="game-player">
            <div class="canvas-container">
                <div class=" player-container player-1">
                    <div class="name">Player 1</div>
                    <div class="health">
                        <div></div>
                    </div>
                </div>

                <div class=" player-container player-2">
                    <div class="name">Player 2</div>
                    <div class="health">
                        <div></div>
                    </div>
                </div>
                <canvas id="stage"></canvas>
            </div>
        </div>
    </section>
{% endblock %}