{% extends 'core/base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_class %}game-page {% if game.is_started and user_role != game.ROLE_OBSERVER %}started{% endif %}{% endblock %}

{% block static %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'core/css/game_page.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/codemirror/codemirror.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/codemirror/themes/ambiance.css' %}" />

    <script src="{% static 'core/js/game.js' %}"></script>
    <script src="{% static 'libs/codemirror/codemirror.js' %}"></script>
    <script>
        $(function() {
            pywars.game.stateUrl = "{% url 'core-game-state-feed' game.pk %}";
            pywars.game.init();
        });
    </script>
{% endblock %}

{% block content %}
    <form id="join-game-form" class="join-game-form" method="post" action="{% url 'core-join-game-action' game.pk %}">
        {% if user_role == game.ROLE_PLAYER_1 %}
            {% include 'core/includes/players.html' with player_1=game.get_player_1 player_2="..." %}
            <div class="join-message">{% trans "Share link to this game with your oponent" %}</div>
            <div class="username-field">
                <input type="text" value="http://{{ request.META.HTTP_HOST }}{{ request.path }}" onclick="  " />
            </div>
        {% elif user_role == game.ROLE_PLAYER_2 %}
            {% include 'core/includes/players.html' with player_1=game.get_player_1 player_2="..." %}
            {% csrf_token %}
            <div class="username-field">
                {% render_field join_game_form.player_username placeholder="Enter your nickname" autofocus="true" %}
            </div>
            <input class="button" type="submit" value="Join game" />
        {% else %}
            {% trans "Sorry but game has already started" %}
        {% endif %}
    </form>

    <section id="game-field" class="game-field">
        <form class="game-editor">
            <textarea id="code-editor"></textarea>
            <input type="submit" value="Next round" />
        </form>
        <div class="game-player"></div>
    </section>
{% endblock %}