{% extends 'core/base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_class %}game-page {% if game.is_started %}started{% endif %}{% endblock %}

{% block static %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'core/css/game_page.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/codemirror/codemirror.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/codemirror/themes/ambiance.css' %}" />

    <script src="{% static 'core/js/game.js' %}"></script>
    <script src="{% static 'libs/codemirror/codemirror.js' %}"></script>
    <script src="{% static 'libs/codemirror/mode/python/python.js' %}"></script>
    <script>
        $(function() {
            pywars.game.stateUrl = "{% url 'core-game-state-feed' game.pk %}";
            pywars.game.submitCodeUrl = "{% url 'core-submit-code-action' game.pk %}";
            pywars.game.newRoundsUrl = "{% url 'core-new-rounds-feed' game.pk 0 %}";
            pywars.game.userRole = "{{ user_role }}";
            pywars.game.player1 = "{{ game.get_player_1 }}";
            pywars.game.player2 = "{{ game.get_player_2 }}";
            pywars.game.init();
        });
    </script>
{% endblock %}

{% block content %}
    <section id="game-message" class="game-message">
        {% if user_role == game.ROLE_PLAYER_1 %}
            {% include 'core/includes/players.html' with player_1=game.get_player_1 player_2="..." %}
            <p>{% trans "Share link to this game with your oponent" %}</p>
            <div class="join-game-form">
                <div class="username-field">
                    <input type="text" value="http://{{ request.META.HTTP_HOST }}{{ request.path }}" onclick="$(this).select()" />
                </div>
            </div>
        {% elif user_role == game.ROLE_PLAYER_2 %}
            {% include 'core/includes/players.html' with player_1=game.get_player_1 player_2="..." %}
            {% include 'core/includes/join_game_form.html' with form=join_game_form button_title="Join game" %}
        {% endif %}
    </section>

    <section id="game-field" class="game-field {% if game.is_finished or user_role == game.ROLE_OBSERVER %}readonly{% endif %}">
        <form class="game-editor" id="code-form">
            {% csrf_token %}
            <textarea id="code-editor" name="code"># Little intro
#
# >>> player = Player()
# >>> print dir(player)
# ['punch', 'kick', 'block']
#
# >>> print player.punch.__doc__
# Punch is the fastest fighting move.
#
# >>> print player.kick.__doc__
# Kick is the most powerful fighting move.
#
# >>> print player.block.__doc__
# Just block :)
#
# Some initial code for you:

player.punch()
player.kick()
player.block()

# Game consists of 12 rounds.
# You have to define 10 commands in each round.

# Don't forget to press "Fight" button,
# when your code will be ready.

# Round will be started, when both fighters
# press "Fight" button.

# Have fun!
            </textarea>
            <input class="button" type="submit" value="Fight" />
        </form>
        <div class="game-player">
            <div class="canvas-container">
                <div class=" player-container player-1">
                    <div class="name">Player 1</div>
                    <div class="health">
                        <div></div>
                    </div>
                    <div class="energy">
                        <div></div>
                    </div>
                </div>

                <div class=" player-container player-2">
                    <div class="name">Player 2</div>
                    <div class="health">
                        <div></div>
                    </div>
                    <div class="energy">
                        <div></div>
                    </div>
                </div>
                <canvas id="stage"></canvas>
            </div>
        </div>
        <div class="game-winner">
            <div class="message">
                <span class="placeholder">username wins!</span>
                <div class="join-game-form">
                    <p class="share-message observer">{% trans "Want to share it?" %}</p>
                    <p class="share-message winner">{% trans "Want to show how did you win this looser?" %}</p>
                    <p class="share-message looser">{% trans "Don't cry, better share it to others :)" %}</p>
                    <div class="username-field">
                        <input type="text" value="http://{{ request.META.HTTP_HOST }}{{ request.path }}" onclick="$(this).select()" />
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}