html, body {
    height: 100%;
}

body {
    background: #1d1d1d;
    font: 12px verdana, sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

input:focus {
    outline: 0;
}

.content-column {
    width: 900px;
    margin: 0 auto;
}

.page-container {
    height: 100%;
    padding-top: 105px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 15px 0;
    background: #171617 url(../img/header_background.png);
    box-shadow: 0 0 10px #000;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    z-index: 3;
}

.page-header .brand {
    margin: 0 auto;
    width: 390px;
    height: 75px;
    background: url(../img/brand.png) no-repeat;
    text-indent: -10000px;
}

.page-content, .page-content .content-column {
    height: 100%;
}

.page-footer {
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    background: #414042;
    padding: 30px 0;
    width: 100%;
}

.page-footer .copyright {
    margin-top: 20px;
}

.join-game-form {
    text-align: center;
}

.join-game-form .username-field {
    margin-bottom: 20px;
}

.join-game-form .username-field input {
    text-align: center;
    width: 300px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    font: 18px arial, sans-serif;
    border: 5px solid #000;
    color: #fff;
    border-radius: 30px;
}

.join-game-form .username-field input:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}