.button {
    font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(top, #f7ff00 0%, #ffbf00);
	background: -webkit-gradient(linear, left top, left bottom, from(#f7ff00), to(#ffbf00));
	border-radius: 30px;
	border: 5px solid #000;
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow: 0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
    cursor: pointer;
    opacity: 0.9;
}

.button:hover {
    opacity: 1;
}

.button:active {
    opacity: 1;
    background: #ffbf00;
}
