.game-field {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.game-field .game-editor {
    float: left;
    position: relative;
    height: 100%;
    width: 30%;
    box-sizing: border-box;
}

.game-field .game-editor textarea {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.game-field .game-editor .CodeMirror,
.game-field .game-editor .CodeMirror-scroll {
    height: 100%;
}

.game-field .game-editor input[type=submit] {
    cursor: pointer;
	position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -85px;
    width: 200px;

	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(top, #f7ff00 0%, #ffbf00);
	background: -webkit-gradient(linear, left top, left bottom, from(#f7ff00), to(#ffbf00));
	border-radius: 30px;
	border: 5px solid #000000;
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow: 0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
}

.game-field .game-player {
    float: right;
    height: 100%;
    width: 70%;
    background: url(../assets/arenas/arena-1.jpg) no-repeat;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}