.game-creator-page .page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.game-creator-page .create-game-form {
    text-align: center;
}

.game-creator-page .create-game-form .username-field {
    margin-bottom: 20px;
}

.game-creator-page .create-game-form .username-field input {
    text-align: center;
    width: 300px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    font: 18px arial, sans-serif;
    border: 5px solid #000;
    color: #fff;
    border-radius: 30px;
}

.game-creator-page .create-game-form .username-field input:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}